@import "tailwindcss";

/* 
Если потребуется поменять шрифт index.html 

создаем переменную шрифта и присваиваем  ей название шрифта
@theme{
  --font-main: Courier, monospace;
}

в index.html в body добавляем переменную шрифта
<body class="font-main"> 

*/


/* создаем свой класс со своими свойствами */
@layer components {
    .modal-window{
      @apply w-full h-full bg-black/30 backdrop-blur-md flex items-center justify-center z-10 fixed top-0 left-0
    }
  }

.main-font {
  font-weight: 600;
  color: rgb(0, 255, 0);
}

